.button-div {
    width: 80%;
    margin: 0 auto;
    margin-top: 300px;
}

.button-box {
    display: table;
}

.main-button {
    margin: 0 auto;
    margin-bottom: 50px;
}

.sub-button {
    margin: 0 auto;
    margin-bottom: 30px;
}

.sub-button img {
    justify-content: center;
    align-items: center;
    height: 60px;
}

.main-button img {
    justify-content: center;
    align-items: center;
    height: 100px;
}

.back-button {
    position: absolute;
    top: 30px;
    left: 30px;
}

.mute-button{
    position: absolute;
    left: 30px;
    bottom: 30px;
    background-color: aqua;
    width: 30px;
    height: 30px;
}

.button-box img:first-child {
    display: block;
}

.button-box img:last-child {
    display: none;
}

.button-box:hover img:first-child {
    display: none;
}

.button-box:hover img:last-child {
    display: block;
}