.button-div {
    width: 80%;
    margin: 0 auto;
    margin-top: 300px;
}

.button-box {
    margin: 0 auto;
}

.main-button {
    display: table;
    margin-bottom: 50px;
}

.sub-button {
    display: table;
    margin-bottom: 30px;
}

.sub-button img {
    justify-content: center;
    align-items: center;
    height: 60px;
}

.main-button img {
    justify-content: center;
    align-items: center;
    height: 100px;
}

.button-box img:first-child {
    display: block;
}

.button-box img:last-child {
    display: none;
}

.button-box:hover img:first-child {
    display: none;
}

.button-box:hover img:last-child {
    display: block;
}