:root{
/* 220 * 310 */
    --cWidth: 220*0.88;
    --cHeight: 310*0.88;
}

#cards {
    font-family: "DungGeunMo";
    display: flex;
    margin: auto auto;
    place-items: center;
    gap: 10px 2%;
    justify-content: center;
    flex-wrap: wrap;
    overflow: scroll;
}

#cards::-webkit-scrollbar{
    display: none;
}

#cards h1{
    position: absolute; /* 추가 */
    left: 50%; /* 추가 */
    transform: translateX(-50%);
    bottom: calc(var(--cWidth) * 1px/4.3);
    width: calc(var(--cWidth) * 1px - 40px);
    margin: 0;
    font-size: 15px; text-align: center;
    display: flex;
    align-items: center; justify-content: center;
    z-index: 10;
    pointer-events: none;
}

.title-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc((var(--cWidth) + 40) * 1px);
    height: calc((var(--cHeight) + 86) * 1px);
    margin-bottom: 15px;
    transition: all 0.2s;
    flex-basis: calc(20% - 20px);
    margin: 30px 0 0;
}

.title-card:hover{
    transform: scale(1.05);
    transition: all 0.2s;
}

.container {
    position: relative;
    padding: 15px;
    width: calc(var(--cWidth) * 1px);
    height: calc(var(--cHeight) * 1px);
    transition: all 0.1s;
    z-index: 30;
}
.overlay{
    position: absolute;
    width: calc(var(--cWidth) * 1px);
    height: calc(var(--cHeight) * 1px);
    background: linear-gradient(105deg,
    transparent 40%,
    rgba(255, 219, 112, 0.8) 45%,
    rgba(132, 50, 255, 0.6) 50%,
    transparent 54%
    );
    filter: brightness(1.1) opacity(0.3);
    mix-blend-mode: color-dodge;
    background-size: 150% 150%;
    background-position: 100%;
    z-index: 3;
}
.card {
    width: calc(var(--cWidth) * 1px);
    height: calc(var(--cHeight) * 1px);
    background-image: url(img/challenge/001.png);
    background-size: cover;
    background-position: center center;
    border-radius: 5%;
    box-shadow: inset 0px 0px 60px 1px rgba(0, 0, 0, 0.5);
}

.cardFrame{
    position: absolute;
    top: 0;
    left: 50%; /* 추가 */
    transform: translateX(-50%);
    width: calc(var(--cWidth) * 1.2px);
    height: calc(var(--cHeight) * 1.1px);
    z-index: 5;
}

#challenge p {
    font-size: x-large; 
}

#challenge .main-box {
    overflow: scroll;
}

#challenge .main-box::-webkit-scrollbar{
    display: none;
}
