:root{
/* 220 * 310 */
    --cWidth: 220*0.9;
    --cHeight: 310*0.9;
}

#cards {
    font-family: "DungGeunMo";
    display: grid;
    margin: 60px auto 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 40px;
    overflow: hidden;
    place-items: center;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

#cards h1{
    position: absolute; /* 추가 */
    left: 50%; /* 추가 */
    transform: translateX(-50%);
    bottom: calc(var(--cWidth) * 1px/4.3);
    width: calc(var(--cWidth) * 1px - 40px);
    margin: 0;
    font-size: 15px; text-align: center;
    display: flex;
    align-items: center; justify-content: center;
    z-index: 10;
    pointer-events: none;
}

.title-card {
    align-items: center;
    text-align: center;
    width: calc((var(--cWidth) + 40) * 1px);
    height: calc((var(--cHeight) + 86) * 1px);
    margin-bottom: 15px;
    transition: all 0.2s;
}

.title-card:hover{
    transform: scale(1.05);
    transition: all 0.2s;
}

.container {
    position: relative;
    padding: 15px;
    width: calc(var(--cWidth) * 1px);
    height: calc(var(--cHeight) * 1px);
    transition: all 0.1s;
    z-index: 30;
}
.overlay{
    position: absolute;
    width: calc(var(--cWidth) * 1px);
    height: calc(var(--cHeight) * 1px);
    background: linear-gradient(105deg,
    transparent 40%,
    rgba(255, 219, 112, 0.8) 45%,
    rgba(132, 50, 255, 0.6) 50%,
    transparent 54%
    );
    filter: brightness(1.3) opacity(0.15);
    mix-blend-mode: color-dodge;
    background-size: 150% 150%;
    background-position: 100%;
    z-index: 3;
}
.card {
    width: calc(var(--cWidth) * 1px);
    height: calc(var(--cHeight) * 1px);
    background-image: url(img/challenge/001.png);
    background-size: cover;
    background-position: center center;
    border-radius: 5%;
    box-shadow: inset 0px 0px 60px 1px rgba(0, 0, 0, 0.5);
}

.cardFrame{
    position: absolute;
    top: 0;
    left: 50%; /* 추가 */
    transform: translateX(-50%);
    width: calc(var(--cWidth) * 1.2px);
    height: calc(var(--cHeight) * 1.1px);
    z-index: 5;
}

#challenge p {
    font-size: x-large; 
}

#challenge-box {
    border: 10px solid burlywood;
    background-color: #f5f4df;
    width: 50%;
    height: calc(100vh - 60px);
    margin: 20px auto;
}

#achievements-title {
    margin: 0;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    border-bottom: 10px solid burlywood;
}