@font-face {
    font-family: 'TTHakgyoansimYeohaengR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimYeohaengR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}

@font-face {
    font-family: 'arcade';
    src: url("ARCADECLASSIC.TTF") format("truetype");
}

@font-face {
    font-family: 'DungGeunMo';
    src: url("DungGeunMo.ttf") format("truetype");
}

@keyframes hovering{
    0%{
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-10px);
    }
}

* {
    font-family: 'arcade', 'DungGeunMo';
    color: #022D3E;
    margin: 0;
    padding: 0;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

canvas {
    display: block;
    margin: auto;
    border: 3px solid black;
    background-color: #f5f4df;
    margin-top: 19vh;
}

.page{
    width: 100%;
    height: 100%;
    display: none;
}

h1{
    text-align: center;
    font-size: 80px;
    padding: 0;
    margin: 10px;
}

.main-title {
    background-color: #f5f4df;
    position: absolute;
    padding: 0 7vh;
    font-size: 9vh;
    line-height: 9vh;
    text-align: center;
    top: 8vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.main-box {
    padding: 4vh;
    background-color: #f5f4df;
    width: 70%;
    height: 70vh;
    margin: 15vh auto 0;
}