#difficulty {
    position: absolute;
    right: 4vh;
    top: 4vh;
}
#difficulty img {
    height: 8vh;
    width: auto;
}

#charImage {
    width: 28vh;
    height: 28vh;
    position: absolute;
    right: 1vh;
    top: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f4df;
}

#charImage img {
    width: 16vh;
}

#currentBurger {
    width: 28vh;
    height: 28vh;
    position: absolute;
    right: 1vh;
    top: 68vh;
    background-color: #f5f4df;
}

#currentBurger img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#burgerRecipe {
    width: 28vh;
    height: 28vh;
    position: absolute;
    left: 1vh;
    top: 33vh;
    background-color: #f5f4df;
}

#burgerRecipe img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

canvas{
    background-color: #f5f4df;
    margin-top: 19vh;
}

#game-title h1{
    margin: 0 auto;
    margin-top: 1vh;
    width: 100vh;
    font-size: 10vh;
    line-height: 10vh;
    background-color: #f5f4df;
}

#timeboard{
    padding: 20px;
    font-size: 6vh;
    background-color: #f5f4df;
    position: absolute;
    width: 80vh;
    text-align: center;
    display: inline-block;
    margin-top: 3vh;
    left: 0;
}

#gscoreboard{
    padding: 20px;
    font-size: 6vh;
    margin-bottom: 20px;
    background-color: #f5f4df;
    position: absolute;
    text-align: center;
    width: 80vh;
    display: inline-block;
    margin-top: 3vh;
    right: 0;
}

#gamebutton{
    width: 28vh;
    height: 28vh;
    position: absolute;
    left: 1vh;
    top: 68vh;
    text-align: center;
    background-color: #f5f4df;
    align-content: center;
}

#gamebutton div img{
    height: 4vh;
}

.border {;
    border: 15px solid transparent;
    border-radius: 30px;
    border-image: url("/img/etc/border.png");
    border-image-width: 0.75;
    border-image-slice: 50;
}

.small-title {
    position: absolute;
    font-family: 'arcade', sans-serif;
    font-size: 3vh;
    background-color: #f5f4df;
    z-index: 1;
    padding: 0 1vh;
}

#recipe-title {
    top: 31vh;
    left: 9vh;
}

#character-title {
    top: 31vh;
    right: 7vh;
}

#current-title {
    top: 65vh;
    right: 8vh;
}