#difficulty {
    height: 74px;
    position: absolute;
    right: 30px;
    top: 30px;
}
#difficulty img {
    height: 74px;
    width: auto;
}

#charImage {
    width: 300px;
    height: 300px;
    border: 10px solid burlywood;
    border-radius: 30px;
    position: absolute;
    right: 10px;
    top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f4df;
}

#currentBurger {
    width: 300px;
    height: 300px;
    border: 10px solid burlywood;
    border-radius: 30px;
    position: absolute;
    right: 10px;
    top: 610px;
    background-color: #f5f4df;
}

#burgerRecipe {
    width: 300px;
    height: 300px;
    border: 10px solid burlywood;
    border-radius: 30px;
    position: absolute;
    left: 10px;
    top: 300px;
    background-color: #f5f4df;
}

canvas{
    background-color: #f5f4df;
}

#game-title h1{
    border: 10px solid burlywood;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 20px;
    width: 1000px;
    font-size: 100px;
    line-height: 100px;
    background-color: #f5f4df;
}

#board{
    position: relative;
    height: 100px;
    margin-bottom: 17px;
}

#timeboard{
    padding: 20px;
    font-size: 75px;
    background-color: #f5f4df;
    border: 10px solid burlywood;
    border-radius: 30px;
    position: absolute;
    width: 500px;
    text-align: center;
    display: inline-block;
    left: 0;
}

#gscoreboard{
    padding: 20px;
    font-size: 75px;
    margin-bottom: 20px;
    background-color: #f5f4df;
    border: 10px solid burlywood;
    border-radius: 30px;
    position: absolute;
    text-align: center;
    width: 500px;
    display: inline-block;
    right: 0;
}

#gameCanvas {
    margin-top: 80px;
    background-color: #f5f4df;
    border: 10px solid burlywood;
}

#gamebutton{
    position: absolute;
    background-color: #f5f4df;
    left: 10px; top: 610px;
    width: 300px; height: 300px;
    border: 10px solid burlywood;
    border-radius: 30px;
}
