#difficulty {
    position: absolute;
    right: 6vh;
    top: 4vh;
}
#difficulty img {
    height: 6vh;
    width: auto;
}

#charImage {
    width: 25vh;
    height: 25vh;
    position: absolute;
    right: 10vh;
    top: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f4df;
}

#charImage img {
    width: 13vh;
    padding-top: 1vh;
}

canvas {
    margin-top: 31vh;
}

#currentBurger {
    width: 25vh;
    height: 25vh;
    position: absolute;
    right: 10vh;
    top: 66vh;
    background-color: #f5f4df;
}

#currentBurger img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(10%);
}

#burgerRecipe {
    width: 25vh;
    height: 25vh;
    position: absolute;
    left: 10vh;
    top: 33vh;
    background-color: #f5f4df;
}

#burgerRecipe img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(10%);
}

#game-title{
    background-color: #f5f4df;
    position: absolute;
    margin: 0;
    padding: 0 7vh;
    font-size: 9vh;
    left: 50%;
    top: 5vh;
    transform: translateX(-50%);
    z-index: 1;
}

#timeboard{
    padding: 20px;
    font-size: 6vh;
    background-color: #f5f4df;
    position: absolute;
    width: 35vh;
    text-align: center;
    display: inline-block;
    margin-top: 2vh;
    left: 10vh;
    line-height: 4vh;
    top: 15vh;
}

#gscoreboard{
    padding: 20px;
    font-size: 6vh;
    margin-bottom: 20px;
    background-color: #f5f4df;
    position: absolute;
    text-align: center;
    width: 35vh;
    display: inline-block;
    margin-top: 2vh;
    right: 10vh;
    line-height: 4vh;
    top: 15vh;
}

#gamebutton{
    width: 25vh;
    height: 25vh;
    position: absolute;
    left: 10vh;
    top: 66vh;
    text-align: center;
    background-color: #f5f4df;
    align-content: center;
}

#gamebutton div img{
    height: 3.5vh;
}

.border {
    border: 15px solid transparent;
    border-radius: 30px;
    border-image-source: url("/img/etc/border.png");
    border-image-width: 1;
    border-image-slice: 50;
}

.small-title {
    position: absolute;
    font-family: 'arcade', sans-serif;
    font-size: 3vh;
    background-color: #f5f4df;
    z-index: 1;
    padding: 0 1vh;
}

#recipe-title {
    top: 30vh;
    left: 17vh;
}

#character-title {
    transform: translateY(-240%);
}

#current-title {
    top: 63vh;
    right: 16vh;
}

/*userName 창 구현*/

#userName{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background: rgba(0,0,0,0.8);
    padding: 20px;
    border-radius: 10px;
    color: white;

    margin-top: 30vh;
    width: 100%;
}

#userName input, #userName button {
    font-size: 5vh;
    margin: 0 1vh;
    line-height: 6vh;
    padding: 0 1vh;
}