/* <div id="gameTitle" style="height: 600px;">
    <div>
        <img src="img/etc/gameIcon.png" alt="burgerIcon">
        <img src="img/etc/gameTitle.png" alt="WellDone!">
    </div>
</div> */

#gameTitle{
    position: absolute;
    display: block;
    width: 100%;;
    top: 5vh;
}

#gameTitle>div{
    height: 30vh;
}

#gameTitle>div>img{
    object-fit: cover;
}

#gameTitle>div>img:first-child{
    display: block;
    height: 100%;
    margin: 0 auto -4% auto;
}

#gameTitle>div>img:last-child{
    display: block;
    margin: auto auto;
    height: 50%;
    animation: hovering 1s Infinite Alternate;
}