table{
    margin: 3vh auto 0;
    font-size: 40px;
    border-collapse: collapse;
}

table tr:nth-of-type(2) { /* 1등 */
    color: white;
    background-color: #fff77a;
    border-bottom: 3vh solid #f5f4df;
}

table tr:nth-of-type(3) { /* 2등 */
    background-color: #d6d6d6;
    border-bottom: 3vh solid #f5f4df;
}

table tr:nth-of-type(4) { /* 3등 */
    background-color: #cd7f32;
    border-bottom: 3vh solid #f5f4df;
}

table tr th {
    padding: 1vh 4vh;
    font-size: 8vh;
    text-align: center;
}

table tr td{
    padding: 1vh 4vh;
    font-size: 6vh;
    text-align: center;
}

table tr td:first-of-type {
    font-size: 100px;
}

#scoreboard-title {
    background-color: #f5f4df;
    position: absolute;
    margin: 0;
    padding: 0 7vh;
    font-size: 9vh;
    left: 50%;
    top: 4vh;
    transform: translateX(-50%);
    z-index: 1;
}

td>img{
    width: 100px;
}