#scoreboard-box {
    border: 10px solid burlywood;
    background-color: #f5f4df;
    width: 65%;
    height: calc(100vh - 60px);
    margin: 20px auto;
}

table{
    margin: 0 auto;
    margin-top: 5vh;
    font-size: 40px;
    border-collapse: collapse;
}

table tr {
    border: 10px solid burlywood;
}

table tr th {
    padding: 10px 40px;
    font-size: 50px;
    text-align: center;
}

table tr td{
    padding: 30px 40px;
    font-size: 50px;
    text-align: center;
}

table tr td:first-of-type {
    font-size: 100px;
}

#scoreboard-title {
    margin: 0;
    font-size: 110px;
    border-bottom: 10px solid burlywood;
}

td>img{
    width: 100px;
}