.picker{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.picker:last-of-type {
    border: 0;
}

.picker>h2{
    margin: 10px;
    height: 50px;
    line-height: 50px;
    display: inline;
}

#charMenu{
    display: flex;
    height: 250px;
    align-items: center;
}

#charMenu>div{
    overflow: hidden;
    clip-path: polygon(30% 0, 100% 0, 70% 100%, 0 100%);
    width: 150px; height: 150px;
    transition: all 0.3s;
}

#charMenu>div:hover{
    transform: scale(1.2);
    transition: all 0.3s;
}

.selected{
    transform: scale(1.2);
}

#charMenu>div>img{
    width: 100%; height: 100%;
    object-fit: cover;
}

.carouselMenu{
    display: flex;
}
.cmContainer{
    overflow: hidden;
    width: 300px;
}
.cmItems{
    display: flex;
    flex-wrap: nowrap;
    transition: all 0.3s;
}
.cmItem{
    display: inline-block;
    flex-shrink: 0;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 10px;
}
.picker {
    padding-bottom: 20px;
}

#settings-box {
    padding-top: 5vh;
    background-color: #f5f4df;
    width: 50%;
    height: 80vh;
    margin: 9vh auto 0;
}

#settings-title {
    margin: 0;
    padding: 0 2vh;
    position: absolute;
    left: 50%;
    top: 2vh;
    font-size: 10vh;
    transform: translateX(-50%);
    background-color: #f5f4df;
}

.settings-sub-title {
    text-align: center;
    font-size: 8vh;
    line-height: 100px;
}

#scoreboardList table tr td img {
    height: 130px;
}