.picker{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.picker:last-of-type {
    border: 0;
}

#charMenu{
    display: flex;
    height: 20vh;
    align-items: center;
}

#charMenu>div{
    margin: 0 2vh;
    overflow: hidden;
    clip-path: polygon(30% 0, 100% 0, 70% 100%, 0 100%);
    width: 14vh; height: 15vh;
    transition: all 0.3s;
}

#charMenu>div:hover{
    transform: scale(1.2);
    transition: all 0.3s;
}

.selected{
    transform: scale(1.2);
}

#charMenu>div>img{
    width: 100%; height: 100%;
    object-fit: cover;
}

.carouselMenu{
    display: flex;
    align-items: center;
}

.carouselMenu .button-box img {
    height: 7vh;
}
.cmContainer{
    overflow: hidden;
    width: 300px;
    height: 6vh;
}
.cmItems{
    display: flex;
    flex-wrap: nowrap;
    transition: all 0.3s;
}
.cmItem{
    display: inline-block;
    flex-shrink: 0;
    width: 300px;
    height: 6vh;
    font-size: 5vh;
    line-height: 6vh;
    text-align: center;
}
.picker {
    padding-bottom: 2vh;
}
.picker:last-of-type {
    margin-bottom: 0;
}

#settings-title {
    margin: 0;
    padding: 0 7vh;
    position: absolute;
    left: 50%;
    top: 4vh;
    font-size: 9vh;
    transform: translateX(-50%);
    background-color: #f5f4df;
    z-index: 1;
}

.settings-sub-title {
    text-align: center;
    font-size: 7vh;
    line-height: 10vh;
    height: 10vh;
}

#scoreboardList table tr td img {
    height: 130px;
}